
@import url(http://fonts.googleapis.com/css?family=Raleway);

nav {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	display: inline;
	margin-top: 2px;
}

.navbar {
	border: none;
    height: 50px;
    opacity: .98;
    background: white;
    margin: 0;
}

.name {
	padding-left: 10px;
	font-size: 30px;
	padding-top: 5px;
	color: #396113;
}

.links {
	float: right;
	margin-top: -40px;
	font-size: 25px;
}

#nav1 {
	padding-right: 50px;
}

#nav2 {
	padding-right: 15px;
}

.background {
	width: 100%;
	margin-top: -27px;
}

body {
	background: url("../img/background.png") no-repeat;	
	display: inline;
}

button {
	background-color: white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: none;
	vertical-align: center;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: green;
	margin: 0 0 0 0;
}

/*LEFT PHONE*/

.cardswapr {
	width: 70%;
	margin: 30px;
	margin-left: 15%;
	height: 500px;
}

.cardswapr:hover {
	background-color: green;
}

#phone {
	width: 90%;
	margin-top: 5%;
}

#banner {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*RIGHT PHONE*/

.coursework {
	width: 70%;
	margin: 30px;
	height: 500px;
}

.coursework:hover {
	background-color: orange;
}

.coursework h2 {
	font-family: 'Raleway', sans-serif;
	color: green;
}

#course {
	width: 90%;
	margin-top: 5%;
}



/*FOOTER*/

footer {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
	color: white;
}

footer:hover {
	text-decoration: none;
}

@media (max-width: 600px) {
	.links {
		margin-top: 0;
	}

	#nav1 {
		padding-right: 20px;
	}

}

