
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600);

/*NAVBAR*/

nav {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	display: inline;
	margin-top: 2px;

}

.smallPhone {
	display: none;
}


.navbar {
	border: none;
    height: 50px;
    opacity: .98;
    background: white;
    margin: 0;
    position: fixed;
    width: 100%;
}

.name {
	padding-left: 10px;
	font-size: 30px;
	padding-top: 5px;
	color: #396113;
}

.links {
	float: right;
	margin-top: -40px;
	font-size: 25px;
}

#nav1 {
	padding-right: 50px;
}

#nav2 {
	padding-right: 15px;
}

.background {
	width: 100%;
	margin-top: -27px;
}

body {
	background: url("../img/background.png");
	background-repeat: repeat-x;	
	display: inline;
}

button {
	background-color: white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: none;
	vertical-align: center;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	color: green;
	margin: 0 0 0 0;
}

/*LEFT PHONE*/

.cardswapr {
	width: 80%;
	margin: 30px;
	margin-left: 15%;
	height: 500px;
	margin-top: 80px;
}

.cardswapr:hover {
	background-color: green;
}

.cardswapr:hover p {
	color: white;
}

#phone {
	width: 90%;
	margin-top: 5%;
}

#banner {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*RIGHT PHONE*/

.coursework {
	width: 80%;
	margin: 20px;
	height: 500px;
	margin-top: 80px;
}

.coursework:hover {
	background-color: green;

}

.coursework h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: green;
}

.coursework:hover h1 {
		color: white;
}

#course {
	width: 90%;
	margin-top: 5%;
}

#text {
	width: 80%;
	text-align: center;
	background-color: white;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
}

/*FOOTER*/

footer {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-align: center;
	color: white;
}

@media (max-width: 768px) {
	.links {
		font-size: 25px;
	}

	#nav1 {
		padding-right: 20px;
	}

	.cardswapr {
		width: 90%;
		margin-left: 10px;
	}

	.coursework {
		width: 90%;
		margin-left: 10px;
	}	

}

@media (max-width: 530px) {
	.regularPhone {
		display: none;
	}

	.cardswapr {	
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
		height: 350px;
	}

	.smallPhone {
		display: block;
	}

	.coursework {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: green;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
		margin-top: 30px;
		height: 350px;
	}

	.coursework:hover h1 {
		color: white;
	}

	footer {
		margin-bottom: 20px;
	}

}

